/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

/* Body and structure
-------------------------------------------------- */
body {
    background-color: white;
    position: relative;
    font-family: "Lucida Grande", Geneva, Helvetica, Arial, sans-serif;
	padding-top:60px;
}

body, label, p, td, th, li, div, input, option, select, textarea, a, dt, dd, h1, h2, h3, h4, button {
    color: #333;
    font-family: "Lucida Grande", Geneva, Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 17px;
	margin: 60px 0 20px;
}

div.edit, div.delete, div.update, div.cancel, div.create {
	display: inline;
}
div.delete, div.cancel {
	float: right;
}

div.inputArea {
	margin-bottom: 15px;
}

div.element label {
    float: none;
    padding-right: 5px;
}

div.introduction {
	margin-bottom: 10px;
	line-height: 150%;
}

div.element input[type="text"] {
	width:300px;
}

input[type="radio"] {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

div.element {
	margin-bottom:10px;
}

label {
	text-align: left;
}

table td {
    border-bottom: 1px solid #DDDDDD;
}

section {
    padding-top: 20px;
    min-height: 500px;
}

section > .row {
    margin-bottom: 10px;
}

.topbar .brand {
	margin-left: 0;
}

.content {
	height: 500px;
	width: 730px;
}

.codeInputError {
	color:red;
	padding: 9px 0;
	display: block;
}

.topbar-inner, .topbar .fill {
    background-color: #007700;
    background-image: -moz-linear-gradient(center top , #007700, #007700);
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.topbar p {
    color: #bfbfbf;
}


/* Alle links de primary kleur. */

a {
    color: #307630; /* Profict groen */

}

/* Fix minimale breedte van 90px voor small buttons. */
.input-small, input.small, textarea.small, select.small {
    width: inherit;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
    min-width: 940px;
    padding-top: 20px;
}

.jumbotron .inner {
    background: transparent url(../../images/grid-18px.png) top center;
    padding: 40px 0 16px;
    -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, .3);
}

.jumbotron h1,
.jumbotron p {
    margin-bottom: 9px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.jumbotron h1 {
    font-size: 54px;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    /* Image getoond, verberg tekst. */
    text-indent: -9999px;
    overflow: hidden;
}

.jumbotron p {
    font-weight: 300;
}

.jumbotron .lead {
    margin-top: 68px;
    font-size: 20px;
    line-height: 27px;
}

.jumbotron p a {
    color: #fff;
    font-weight: bold;
}

.jumbotron .container {
    background-image: url(../../images/logo-profict-shop.png);
    background-repeat: no-repeat;
    background-position: right top;
    height: 195px;
}

/* Specific jumbotrons
------------------------- */
/* main docs page */
.masthead {
    /* 8e4f9c */
    background-color: #307630;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#265a1d), to(#409932));
    background-image: -webkit-linear-gradient(#265a1d, #409932);
    background-image: -moz-linear-gradient(#265a1d, #409932);
    background-image: -o-linear-gradient(top, #265a1d, #409932);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#265a1d), to(#409932));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#265a1d', endColorstr = '#409932', GradientType = 0); /* IE8 and down */
}


/* Aanpassingen Bootstrap styles. */

/* Iets donkerdere tekst in velden dan standaard. */

input, textarea, select {
    color: #555;
    width: 300px;
}

textarea {
	height: 300px;
}

div#update div.delete {
    background-color: #265A1D;
    background-image: -moz-linear-gradient(center top , #409932, #265A1D);
    border-color: #409932 #409932 #307630;
}

/* Messages tonen zonder bullets en in zwart. */
div.alert-message ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form#editTreeForm {
	margin-bottom:0;
}

div.alert-message li {
    color: inherit;
}

/* alle button grijs, ipv blauw. */
.btn.primary, button {
	font-family:	"Lucida Grande",Geneva,Helvetica,Arial,sans-serif;
	font-size:	13px;
	font-weight:	400;
	font-style:	normal;
	color:	#555555;
	line-height:	16px;
	text-align:	center;
	vertical-align:	baseline;
	direction: ltr;
	background-color:#F0F0F0;
	background-image: none;

}
	/*
    background-image: -khtml-gradient(linear, left top, left bottom, from(#409932), to(#265a1d));
    background-image: -moz-linear-gradient(top, #409932, #265a1d);
    background-image: -ms-linear-gradient(top, #409932, #265a1d);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #409932), color-stop(100%, #265a1d));
    background-image: -webkit-linear-gradient(top, #409932, #265a1d);
    background-image: -o-linear-gradient(top, #409932, #265a1d);
    background-image: linear-gradient(top, #409932, #744280);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#409932', endColorstr = '#265a1d', GradientType = 0);
    border-color: #409932 #409932 #307630;
}*/


/* Footer
-------------------------------------------------- */
.footer {
  background-color: #eee;
  min-width: 940px;
  min-height: 300px;
  padding: 30px 0;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
}

.footer p {
  color: #555;
}


/* Datum in niet proprtioneel lettertype, zodat onder elkaar uitgelijnd. */
.date {
    white-space: nowrap;
}

.rightalign {
    text-align: right;
}

.nowrap {
    white-space: nowrap;
}

/* Getallen in een cel rechts uitlijnen. */
.number {
    text-align: right;
    white-space: nowrap;
}

.strong {
    color: black;
    font-weight: bold;
}

.stronger {
    font-weight: bolder;
}

/* Tekst verticaal in het midden in alle tabellen. */
table tbody td {
    vertical-align: middle;
}
